{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            <div class="posts">
                <header class="posts-header">
                    <h3>Categories...</h3>
                </header>
                <a href="#">
                    <div class="php post-block">
                        <h4>Php</h4>
                        <p>What's new? Which framework?</p>
                    </div>
                </a>
                <a href="#">
                    <div class="html post-block">
                        <h4>HTML</h4>
                        <p>Html5! Standards? DOM?</p>
                    </div>
                </a>
                <a href="#">
                    <div class="jscript post-block">
                        <h4>JavaScript</h4>
                        <p>How to... Node.js?</p>
                    </div>
                </a>
                <a href="#">
                    <div class="css post-block">
                        <h4>Css3</h4>
                        <p>Tricks! Which design? RWD?</p>
                    </div>
                </a>
                <div class="new-posts">
                    <header class="new-posts-header">
                        <h5>New posts!</h5>
                    </header>
                    {% for i in range(0, 3) %}
                        <div class="fresh-post">
                            <header class="fresh-post-header">
                                <h5><span class="c-purple">Title:</span> Php - MVC?</h5>
                                <h6><span class="c-purple">Author:</span> Sebastian</h6>
                                <h6><span class="c-purple">Data:</span> June 05, 2016</h6>
                            </header>
                            <div class="fresh-posts-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat malesuada massa, eget efficitur velit vestibulum eget. Quisque ac pulvinar risus. Aliquam consectetur tincidunt elit sit amet bibendum. Sed vel diam vel erat porttitor aliquam. Quisque sed aliquet odio, a viverra enim.
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>{# /New posts #}
            </div>{# /posts #}
        </div>
    </main>
{% endblock %}