/*Basic*/
    body{
        background-color: #F5F5F5;
        font-family: 'Pontano Sans', sans-serif;
        /*font-family: 'Lato', sans-serif;*/
    }
    a:hover, a:focus{
        color: #000;
        text-decoration: none;
    }
/**/

/*Navbar*/
    .navbar{
        margin: 0px;
    }
    .navbar-header > h1{
        margin: 0px;
    }
    .navbar-header > h1 > a{
        color: inherit;
        text-decoration: none;
    }
/**/

/*Header*/
    .header{
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        background-color: rgba(124, 57, 155, 1);
        height: 150px;
    }
    .header > .container-fluid > h2 {
        margin: 0;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(45, 45, 45, 0.45);
    }
    .header > .container-fluid > p{
        display: flex;
        height: 10px;
        margin: -40px 0px 0px 0px;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        text-shadow: 1px 1px 1px rgba(120, 120, 120, 0.45);
        color: #D9D9D9;
    }
/**/

/*Main*/
    main{
        margin-top: 20px;
    }
    /*Posts*/
        .posts{

        }
        /*Posts Header*/
            .posts-header{
                margin: 10px;
                border-bottom: 1px dotted rgba(124, 57, 155, 1);
            }
            .posts-header > h3{
                margin: 3px;
                font-size: 36px;
                color: #333;
            }
        /**/
        .post-block {
            display: inline-block;
            position: relative;
            width: 47.0%;
            height: 320px;
            margin: 1%;
            padding: 10px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        }
        .post-block:hover, .post-block:active{
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        .post-block > h4{
            font-size: 38px;
            color: #444;
        }
        .post-block > p{
            font-size: 22px;
            color: #555;
        }
        .post-block > p:hover, .post-block > h4:hover{
            color: #222;
        }
        /*Categories*/
            .php{
                background: url('https://www.intogres.com/img/php_fesh_logo.png') right bottom no-repeat;
                background-size: 60%;
            }
            .html{
                background: url('https://www.w3.org/html/logo/downloads/HTML5_Badge_512.png') right bottom no-repeat;
                background-size: 60%;
            }
            .css{
                background: url('http://notwebsafe.com/presos/web-hipster/images/CSS3_Logo.png') right bottom no-repeat;
                background-size: 60%;
            }
            .jscript{
                background: url('http://yannickloriot.com/wp-content/uploads/2016/05/javascript-logo.png') right bottom no-repeat;
                background-size: 60%;
            }
        /**/
        /*New Posts*/
            .new-posts{
                margin-top: 20px;
            }
            /*New Posts Header*/
                .new-posts-header{
                    margin: 10px;
                    border-bottom: 1px dotted rgba(124, 57, 155, 1);
                }
                .new-posts-header > h5{
                    margin: 3px;
                    font-size: 36px;
                    color: #333;
                }
            /**/
            /*Fresh Post*/
                .fresh-post{
                    display: inline-block;
                    width: 48%;
                    margin: 10px;
                    border-bottom: 2px solid #DEDEDE;
                }
                /*Fresh Posts Header*/
                    .fresh-post-header{
                        border-bottom: 1px solid #E0E0E0;
                    }
                    .fresh-post-header > h5{
                        font-size: 22px;
                    }
                    .fresh-post-header > h6{
                        font-size: 18px;
                    }
                /**/
            /**/
        /**/
    /**/
/**/

/*Media*/
    @media(max-width: )
/**/

/*Other*/
.c-purple{
    color: rgba(124, 57, 155, 1);
}
/**/